<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>
            Журнал присутствий студентов в общежитии
        </title>
        <title>
            Журнал присутствий студентов в общежитии
        </title>
    </head>
    <body>
        <style>
            table {
    width: 300px; /* Ширина таблицы */
    border: 1px solid green; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
   }
   td {
    text-align: center; /* Выравниваем текст по центру ячейки */
   }
        </style>
        <form action="/mainMenu" target="_blank">
            <button>
                Вернуться в главное меню
            </button>
        </form>
        <h2 align="center">
            <form action="/resident" method="POST">
                <input name="action" type="hidden" value="11">
                    <div align="center">
                        Поиск по ФИО насельника:
                        <input name="fio" size="60" type="text" value="">
                            <input type="submit" value="Найти"/>
                        </input>
                    </div>
                </input>
            </form>
            <form action="/presenceCalendarAdmin" method="post">
                <br>
                    <fieldset>
                        <p>
                            <label for="dateWeek">
                                Журнал присутствий за дату:
                                <em>
                                    *
                                </em>
                            </label>
                            <input name="dateWeek" th:value="${date2}" type="date"/>
                        </p>
                        <h2 align="center">
                            Журнал присутствия студента за дату
                        </h2>
                        <div align="center">
                            <div >
                                <table border="1">
                                    <tr>
                                        <th>
                                            Номер комнаты
                                        </th>
                                        <th>
                                            ФИО
                                        </th>
                                        <th>
                                            Курс
                                        </th>
                                        <th>
                                            Факультет
                                        </th>
                                        <th>
                                            Присутствие
                                        </th>
                                    </tr>
                                    <div th:each="r : ${residentList}">
                                        <tr>
                                            <td id="res" th:text="${r.roomNumber}">
                                            </td>
                                            <td id="res" th:text="${r.fio}">
                                            </td>
                                            <td id="res" th:text="${r.course}">
                                            </td>
                                            <td id="res" th:text="${r.faculty}">
                                            </td>
                                            <td>
                                                <input type=hidden name=student th:value="${r.idResident}">
                                                <input type=checkbox name=student value=was>                                              
                                            </td>
                                        </tr>
                                    </div>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </br>
                <div align="center">
                    <br>
                        <input type="submit" value="Отправить присутствия студентов"/>
                    </br>
                </div>
            </form>
        </h2>
    </body>
</html>
