<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>
            Опоздания студентов
        </title>
    </head>
    <body>


        <style>
            table {
    width: 300px; /* Ширина таблицы */
    border: 1px solid green; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
   }
   td {
    text-align: center; /* Выравниваем текст по центру ячейки */
   }
        </style>
        <form action="/mainMenu" target="_blank">
            <button>
                Вернуться в главное меню
            </button>
        </form>
        <h2 align="center">
            <form action="/resident" method="POST">
                <input name="action" type="hidden" value="11">
                    <div align="center">
                        Поиск по ФИО насельника:
                        <input name="fio" size="60" type="text" value="">
                            <input type="submit" value="Найти"/>
                        </input>
                    </div>
                </input>
            </form>
            <form method="post">
                <br>
                    
                        <p>
                            <label for="dateWeek">
                                Опоздания за дату:
                                <em>
                                    *
                                </em>
                            </label>
                            <input name="dateWeek" th:value="${date2}" type="date"/>
                        </p>
                    
                </br>
            
            <h2 align="center">
                Таблица опозданий за дату
            </h2>
            
                <table border="1">
                    <tr>
                        <th>
                            Номер комнаты
                        </th>
                        <th>
                            ФИО
                        </th>
                        <th>
                            Курс
                        </th>
                        <th>
                            Факультет
                        </th>
                        <th>
                            Время опоздания
                        </th>
                    </tr>
                    <tr th:each="r : ${residentList}">
                        <td th:text="${r.roomNumber}">
                        </td>
                        <td th:text="${r.fio}">
                        </td>
                        <td th:text="${r.course}">
                        </td>
                        <td th:text="${r.faculty}">
                        </td>
                        <td>
                            <input name="student" th:value="${r.idResident}" type="hidden">
                            </input>    
                                <input name="student" type="time">
                                </input>
                        </td>
                    </tr>
                </table>
            <br>
                <div align="center">
                    <input type="submit" value="Отправить опоздания"/>
                </div>
            </br>
            </form>
        </h2>
    </body>
</html>
