<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Resident page</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<h1>Добавление насельника в БД:</h1>

<p>Пол строго писать либо МУЖСКОЙ либо ЖЕНСКИЙ </p>

<form method="post">
  <fieldset>
    <legend>Контактная информация</legend>
    <p><label for="fio">ФИО <em>*</em></label><input type="text" name="fio"></p>
    <p><label for="course">Курс <em>*</em></label><input type="number" name="course"></p>
	<p><label for="learningCondition">Условия обучения <em>*</em></label><input type="text" name="learningCondition"></p>
	<p><label for="faculty">Факультет <em>*</em></label><input type="text" name="faculty"></p>
	<p><label for="direction">Направление <em>*</em></label><input type="text" name="direction"></p>
	<p><label for="group">Группа <em>*</em></label><input type="text" name="group"></p>
	<p><label for="educationLevel">Уровень образования <em>*</em></label><input type="text" name="educationLevel"></p>
	<p><label for="citizenShip">Гражданство <em>*</em></label><input type="text" name="citizenShip"></p>
	<p><label for="dateOfBitrh">Дата рождения <em>*</em></label><input type="date" name="dateOfBitrh" value="th:text="${r.idResident}"" ></p>
	<p><label for="monthOfBirth">Месяц рождения <em>*</em></label><input type="number" name="monthOfBirth"></p>
	<p><label for="yearOfBirth">Год рождения <em>*</em></label><input type="number" name="yearOfBirth"></p>
	<p><label for="gender">Пол <em>*</em></label><input type="text" name="gender"></p>
	<p><label for="telephonNumber">Телефон <em>*</em></label><input type="tel" name="telephonNumber"></p>
	<p><label for="pointSemestr">Баллы за семестр <em>*</em></label><input type="number" name="pointSemestr"></p>
	<p><label for="roomNumber">Номер комнаты <em>*</em></label><input type="number" name="roomNumber"></p>
	<p><label for="address">Адресс <em>*</em></label><input type="text" name="address"></p>
    <p><label for="email">E-mail</label><input type="email" name="email"></p>
  </fieldset>
<p><input type="submit" value="Отправить"></p>
</form>
 
</body>
</html>
