<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>
            Страница насельника
        </title>
        <style type="text/css">
            body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }


        .row {
            margin-top: 10px;
        }
        </style>
        <title>
            Resident page
        </title>
    </head>
    <body>

         <form action="/mainMenu" target="_blank">
                       <button>Вернуться в главное меню</button>
                        </form>
        <style>
            table {
    width: 300px; /* Ширина таблицы */
    border: 1px solid green; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
   }
   td {
    text-align: center; /* Выравниваем текст по центру ячейки */
   }
        </style>
        <h2 align="center">
<td th:text="${r.fio}"></td>
                          (ком.
<td th:text="${r.roomNumber}"></td>                            )
        </h2>
                    <form action="/resident" method="POST">
    <input type="hidden" name="action" value="11">
    <div align="center">Поиск по ФИО насельника: 
    <input size="60" type="text" name="fio" value="">
    <input type="submit" value="Найти"></div></form>

<br>
        
        <table border="1">
            <tr>
                <th>
                    Идентификатор насельника
                </th>
                <th>
                    ФИО
                </th>
                <th>
                    Курс
                </th>
                <th>
                    Факультет
                </th>
                <th>
                    Условия обучения
                </th>
                <th>
                    Направление
                </th>
                <th>
                    Группа
                </th>
                <th>
                    Уровень образования
                </th>
                <th>
                    Гражданство
                </th>
                <th>
                    Дата рождения
                </th>
                <th>
                    Месяц рождения
                </th>
                <th>
                    Год рождения
                </th>
                <th>
                    Пол
                </th>
                <th>
                    Телефон
                </th>
                <th>
                    Адресс
                </th>
                <th>
                    Эл.почта
                </th>
                <th>
                    Баллы
                </th>
                <th>
                    Номер комнаты
                </th>
            </tr>
            <tr>
                <td th:text="${r.idResident}"></td>        
                <td th:text="${r.fio}"></td>
                <td th:text="${r.course}"></td>
                <td th:text="${r.faculty}"></td>
                <td th:text="${r.learningCondition}"></td>
                <td th:text="${r.direction}"></td>
                <td th:text="${r.group}"></td>
                <td th:text="${r.educationLevel}"></td>
                <td th:text="${r.citizenShip}"></td>
                <td th:text="${r.dateOfBitrh}"></td>
                <td th:text="${r.monthOfBirth}"></td>
                <td th:text="${r.yearOfBirth}"></td>
                <td th:text="${r.gender}"></td>
                <td th:text="${r.telephonNumber}"></td>
                <td th:text="${r.address}"></td>
                <td th:text="${r.email}"></td>
                <td th:text="${r.pointSemestr}"></td>
                <td th:text="${r.roomNumber}"></td>
            </tr>
        </table>
        <br>
        </br>
    </body>
</html>
<style>
    table {
    width: 300px; /* Ширина таблицы */
    border: 1px solid green; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
   }
</style>
<br/>
<br/>
<br/>
<body>
    <table border="0" width="100%">
        <tr>
            <td align="center" style="background-color:beige;" width="10%">
                Период
            </td>
            <td align="center" style="background-color:green;" width="45%">
                <input id="point_wpet" name="point_minus" size="2" type="text" value="">
                    <input class="tcal" id="date_wpet" name="date_wpet" readonly="" size="10" type="text"/>
                </input>
            </td>
            <td align="center" style="background-color:red;" width="45%">
                <input class="tcal" id="date_wopet" name="date_wopet" readonly="" size="10" type="text"/>
            </td>
            <td align="center" style="background-color:green;" width="45%">
                    <input class="tcal" id="date_wpet" name="date_wpet" readonly="" size="10" type="text"/>
                </input>
            </td>
            <td align="center" style="background-color:red;" width="45%">
                <input class="tcal" id="date_wopet" name="date_wopet" readonly="" size="10" type="text"/>
            </td>
            <td align="center" style="background-color:green;" width="45%">
                    <input class="tcal" id="date_wpet" name="date_wpet" readonly="" size="10" type="text"/>
                </input>
            </td>
            <td align="center" style="background-color:red;" width="45%">
                <input class="tcal" id="date_wopet" name="date_wopet" readonly="" size="10" type="text"/>
            </td>
            <td align="center" style="background-color:green;" width="45%">
                    <input class="tcal" id="date_wpet" name="date_wpet" readonly="" size="10" type="text"/>
                </input>
            </td>
            <td align="center" style="background-color:red;" width="45%">
                <input class="tcal" id="date_wopet" name="date_wopet" readonly="" size="10" type="text"/>
            </td>
                        <td align="center" style="background-color:green;" width="45%">
                    <input class="tcal" id="date_wpet" name="date_wpet" readonly="" size="10" type="text"/>
                </input>
            </td>

                        
        </tr>   
        <tr>
            <td>
            </td>
            <td align="center">
                <b>
                    уважительные объяснительные
                </b>
            </td>
            <td align="center">
                <b>
                    НЕуважительные объяснительные
                </b>
            </td>
            <td align="center">
                <b>
                    Нарушения
                </b>
            </td>
            <td align="center">
                <b>
                    Баллы за семестр
                </b>
            </td>
            
            <td align="center">
                <b>
                    Положительная активность
                </b>
            </td>
            <td align="center">
                <b>
                    Отрицательная активность
                </b>
            </td>
                        <td align="center">
                <b>
                    Отрицательные оценки
                </b>
            </td>
            <td align="center">
                <b>
                    Дотации
                </b>
            </td>
                <td align="center">
                <b>
                    По прошению (отсутствие/опоздание)
                </b>
            </td>

        </tr>
        <tr style="background-color:#FFE79F;" valign="top">
            <td align="center">
                II семестр 2021/2022
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
                        <td>
            </td>
            <td>
            </td>
                        <td>
            </td>



        </tr>
        <tr style="background-color:#FFEFBF;" valign="top">
            <td align="center">
                I семестр 2021/2022
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
           <td>
            </td>
            <td>
            </td>
                       <td>
            </td>
            <td>
            </td>



            <br/>
        </tr>
<tr style="background-color:#FFE79F;" valign="top">
    <td align="center">
        II семестр 2020/2021
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
        <td>
    </td>
    <td>
    </td>


</tr>
<tr style="background-color:#FFEFBF;" valign="top">
    <td align="center">
        I семестр 2020/2021
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
        <td>
    </td>
    <td>
    </td>


    <br/>
    </table>
</body>
</tr>
<tr style="background-color:#FFE79F;" valign="top">
    <tr style="background-color:#FFEFBF;" valign="top">
        <tr style="background-color:#FFE79F;" valign="top">
            <tr style="background-color:#FFEFBF;" valign="top">
            </tr>
        </tr>
    </tr>
</tr>
</table>

<form id="add_event_form">
    <input type="date" name="date">
    <select id="event_type" name="type">
        <option>нарушение</option>
        <option>объяснительная</option>
        <option>дотация</option>
    </select>
    <input placeholder="описание">

    <div class="add_objasnit">
        <select><option>нарушенин 1</option></select>
        <input type="checkbox">
    </div>

    <div class="add_dotatia">
        <input name="summ" placeholder="сумма дотации">
    </div>

    <input type="submit" name="">

    <style>
        .add_objasnit, .add_dotatia {
            display:  none;
        }

        .alpha .add_objasnit {
            display: inline-block;
        }

        .beta .add_dotatia {
            display:  inline-block;
        }
    </style>
    <script>
        var sel = document.getElementById('event_type');
        sel.addEventListener('change', function(e){
            var type = e.target.value;

            var form = document.getElementById('add_event_form');

            if (type == 'объяснительная') {
               form.className = 'alpha'; 
            } else if (type == 'дотация') {
                form.className = 'beta';
            } else {
                form.className = '';
            }

        });
    </script>
</form>

        <br>
        <br>

    Комментарий
<br>
    <textarea align="center" cols="30" id="info_point" name="info_point" rows="5">
    </textarea>
    <br>
        <input onclick="manage_points(5761)" type="button" value="OK" >
        </input>
    </br>
</br>
<table border="1">
    <tr>
        <th>
            Событие
        </th>
        <th>
            Дата
        </th>
    </tr>
    <tr>
        <td>
            Насельник Карпов Федор Владимирович заселён в комнату 221 общежития Иловайская 29.08.2018
        </td>
        <td>
            04.09.2018
        </td>
    </tr>
</table>
