<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>
            Книга прошений за промежуток
        </title>
        <form action="/mainMenu" target="_blank">
            <button>
                Вернуться в главное меню
            </button>
        </form>
        <br>
        <form action="/presenceCalendarViewPeriods" target="_blank">
            <button>
                Получить записанные прошения за период
            </button>
        </form>
        <br>
        <form action="/PresenceCalendar" target="_blank">
            <button>
                Открыть форму заполнения прошения
            </button>
        </form>
        <style type="text/css">
            body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
        </style>
    </head>
    <body>
        <h1>
            Книга прошений:
        </h1>
        <form method="post">
            <fieldset>
                <legend>
                    Книга прошений за дату. В данной форме выдаются прошения, которые были записаны за определенную дату.
                </legend>
                <p>
                    <label for="startDateWeek">
                        Книга прошений за дату:
                        <em>
                            *
                        </em>
                    </label>
                    <input name="startDateWeek" th:value="${date2}" type="date"/>
                </p>
                <p>
                    <input type="submit" value="Показать за выбранную дату"/>
                </p>
                <h1>
                    Список прошений за дату
                </h1>
                <div align="center">
                    <div style="float: left">
                        <table border="1">
                            <tr>
                                <th>
                                    ФИО
                                </th>
                                <th>
                                    Факультет
                                </th>
                                <th>
                                    Курс
                                </th>
                                <th>
                                    Комната
                                </th>
                            </tr>
                            <div th:each="r : ${resident}">
                                <tr>
                                    <td th:text="${r.fio}">
                                    </td>
                                    <td th:text="${r.faculty}">
                                    </td>
                                    <td th:text="${r.course}">
                                    </td>
                                    <td th:text="${r.roomNumber}">
                                    </td>
                                </tr>
                            </div>
                        </table>
                    </div>
                    <div style="float: left">
                        <table border="1">
                            <th>
                                Дата отсутствия
                            </th>
                            <th>
                                Выходной
                            </th>
                            <th>
                                Дата опоздания
                            </th>
                            <th>
                                Причина
                            </th>
                            <th>
                                Дата занесения в БД
                            </th>

                            <div th:each="prC: ${prCalendar}">
                                <tr>
                                    <td th:text="${prC.dateAbsent}">
                                    </td>
                                    <td th:text="${prC.weekends}">
                                    </td>
                                    <td th:text="${#temporals.format(prC.timeDelay, 'yyyy-MM-dd HH:mm')}">
                                    </td>
                                    <td th:text="${prC.reasonAbsence}">
                                    </td>
                                    <td th:text="${prC.startDateWeek}">
                                    </td>
                                </tr>
                            </div>
                        </table>
                    </div>
                </div>
            </fieldset>
        </form>
    </body>
</html>