<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>
            Таблица насельников
        </title>
        <title>
            Таблица насельников
        </title>
    </head>
    <body>
        <style>
            table {
    width: 300px; /* Ширина таблицы */
    border: 1px solid green; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
   }
   td {
    text-align: center; /* Выравниваем текст по центру ячейки */
   }
        </style>
                              <form action="/mainMenu" target="_blank">
                       <button>Вернуться в главное меню</button>
                        </form> 
        <h2 align="center">
            <form action="/resident" method="POST">
    <input type="hidden" name="action" value="11">
    <div align="center">Поиск по ФИО насельника: 
    <input size="60" type="text" name="fio" value="">
    <input type="submit" value="Найти"></div></form>

            <h2 align="center">
                Таблица насельников
            </h2>
            <table border="1">
                <tr>
                    <th>
                        Идентификатор насельника
                    </th>
                    <th>
                        ФИО
                    </th>
                    <th>
                        Курс
                    </th>
                    <th>
                        Факультет
                    </th>
                    <th>
                        Направление
                    </th>
                    <th>
                        Группа
                    </th>
                    <th>
                        Уровень образования
                    </th>
                    <th>
                        Гражданство
                    </th>
                    <th>
                        Дата рождения
                    </th>
                    <th>
                        Телефон
                    </th>
                    <th>
                        Адресс
                    </th>
                    <th>
                        Эл.почта
                    </th>
                    <th>
                        Баллы
                    </th>
                    <th>     
                        Номер комнаты
                    </th>
                                        <th>     
                        Номер комнаты
                    </th>

                </tr>
                    <tr th:each="r : ${resident}">
                        <td>
                        <a th:href="@{'/residents/' + ${r.idResident}}"><div th:text="${r.idResident}"></div></a>
                        </td>
                        <td th:text="${r.fio}">
                        </td>
                        <td th:text="${r.course}">
                        </td>
                        <td th:text="${r.faculty}">
                        </td>
                        <td th:text="${r.direction}">
                        </td>
                        <td th:text="${r.group}">
                        </td>
                        <td th:text="${r.educationLevel}">
                        </td>
                        <td th:text="${r.citizenShip}">
                        </td>
                        <td th:text="${r.dateOfBitrh}">
                        </td>
                        <td th:text="${r.telephonNumber}">
                        </td>
                        <td th:text="${r.address}">
                        </td>
                        <td th:text="${r.email}">
                        </td>
                        <td th:text="${r.pointSemestr}">
                        </td>
                        <td th:text="${r.roomNumber}">
                        </td>
                        <td th:text="${r.gender}">
                        </td>
                    </tr>    
            </table>
    </body>
</html>