<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>
            Таблица комнат
        </title>
        <title>
            Таблица комнат
        </title>
    </head>
    <body>
        <style>
            table {
    width: 300px; /* Ширина таблицы */
    border: 1px solid green; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
   }
   td {
    text-align: center; /* Выравниваем текст по центру ячейки */
   }
        </style>
        <form action="/mainMenu" target="_blank">
            <button>
                Вернуться в главное меню
            </button>
        </form>
        <h2 align="center">
            <form action="/resident" method="POST">
                <input name="action" type="hidden" value="11">
                    <div align="center">
                        Поиск по ФИО насельника:
                        <input name="fio" size="60" type="text" value="">
                            <input type="submit" value="Найти"/>
                        </input>
                    </div>
                </input>
            </form>
            <h2 align="center">
                Таблица комнат
            </h2>
            <table border="1">
                <tr>
                    <th>
                        Идентификатор комнаты
                    </th>
                    <th>
                        Номер комнаты
                    </th>
                    <th>
                        Принадлежность
                    </th>
                    <th>
                        Вместимость
                    </th>
                    <th>
                        ID насельника
                    </th>
                    <th>
                        ФИО насельника
                    </th>

                </tr>
                <tr th:each="a : ${all}">
                    <td>
                        <div th:text="${a.roomId}">
                        </div>
                    </td>
                    <td th:text="${a.roomNumber}">
                    </td>
                    <td th:text="${a.attachmentRoom}">
                    </td>
                    <td th:text="${a.roomContent}">
                    </td>
                    <td th:text="${a.residentId}">
                    </td>
                    <td th:text="${a.fioStudent}">
                    </td>

                </tr>
            </table>
        </h2>
    </body>
</html>